@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.max-container {
	max-width: 1440px;
	margin: 0 auto;
}

.admin-card {
	.card-border,
	&::before {
		opacity: 0;
		transition: opacity 500ms;
		content: '';
		position: absolute;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}
	&::before {
		background: radial-gradient(
			800px circle at var(--border--x) var(--border--y),
			rgba(0, 0, 0, 0.002),
			transparent 40%
		);
		z-index: 3;
	}
	&:hover {
		.card-border,
		&::before {
			opacity: 1;
		}
	}

	> .card-content {
		border-radius: inherit;
		margin: -4px;
		position: relative;
		z-index: 5;
	}

	.card-border {
		background: radial-gradient(400px circle at var(--border--x) var(--border--y), #052c42, transparent 40%);
		z-index: 1;
	}
}

// ======MISCELLANEOUS=========

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.sidebar-scroll::-webkit-scrollbar {
	width: 6px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
	background: rgba(5, 44, 66, 0.2);
}
::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #052c42;
	border-radius: 8px;
}

::selection {
	color: white;
	background: #052c42;
}
